# Supabase Configuration
VITE_SUPABASE_URL=https://bkakcnintlflqfndzccl.supabase.co
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJrYWtjbmludGxmbHFmbmR6Y2NsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY1NDAwMDEsImV4cCI6MjA5MjExNjAwMX0.nxolAQ5DjEMyFxYCSFSbSjd1mZ16zZVsux_lEC_H50A
